@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-left {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 50px;
}

.card-left h1 {
    color: #91CB3E;
}
.card-left img {
    width: 200px;
    object-fit: cover;
}

.card-right {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-cadastro {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background: #EEE82C;
    border-radius: 20px;
    box-shadow: 0px 10px 30px #bec042;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.card-cadastro .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.card-cadastro .form-group input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #e3e642;
}

.card-cadastro .form-group input[type="date"] {
    cursor: pointer;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao button {
    padding: 10px 15px;  /* Ajuste no tamanho do botão */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;  /* Centralizar o botão */
}

.botao button:hover {
    background-color: #0056b3;
}

.card-cadastro p {
    text-align: center;
}
